@model Fisheries.Models.Event

@{
    ViewBag.Title = "删除";
}

<h2>删除</h2>

<h3>确定删除?</h3>
<div>
    @Html.AntiForgeryToken()
    <h4>活动</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <hr />
    <dl class="dl-horizontal">
    
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvenUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvenUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegeristFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegeristFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegeristUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegeristUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OxygenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OxygenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Positions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionsRemain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionsRemain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
