@model Fisheries.Models.Event

@{
    ViewBag.Title = "EditPositions";
    int positionRemain = Model.PositionsRemain;
}


<h2>EditPositions</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvenUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvenUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegeristFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegeristFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegeristUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegeristUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OxygenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OxygenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Positions)
        </dt>

        <dd>
            @(Html.Kendo().NumericTextBoxFor<int>(model => model.Positions).Min(positionRemain).Max(10000).Value(positionRemain).Format("#").HtmlAttributes(new { style = "width: 100" }))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionsRemain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionsRemain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
