@model Fisheries.Models.Live

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Live</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CloudLive.activityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloudLive.activityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evnet.AvatarUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evnet.AvatarUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
