@*@model IEnumerable<Fisheries.Models.Order>*@
@model IPagedList<Fisheries.Models.Order>
@using PagedList.Mvc;
@using PagedList
@{
    ViewBag.Title = "订单";
}

<h2>订单</h2>
<p>
    @Html.ActionLink("过去一周", "Index",new { @datefilter = 1 }) | @Html.ActionLink("过去30天", "Index", new { @datefilter = 2 }) | @Html.ActionLink("过去90天", "Index", new { @datefilter = 3 })
</p>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Event.EventFrom)
        </th>
        <th>
            用户名
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatu.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </th>
        <th>
            手机号
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatu.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id })          
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { @page = page, @datefilter = (ViewBag.datefilter ?? 1)}))